<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MilkStoreMobile_FronEnd"
        android:usesCleartextTraffic="true"


        tools:targetApi="31">
        <activity
            android:name=".views.activitys.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".views.activitys.milk.MilkDetailActivity"/>
        <activity android:name=".views.activitys.ManagerDashboardActivity"/>
        <activity android:name=".views.activitys.category.CategoryListActivity"/>
        <activity android:name=".views.activitys.category.CategoryFormActivity"/>
        <activity android:name=".views.activitys.product.ProductListActivity"/>
        <activity android:name=".views.activitys.product.ProductFormActivity"/>
        <activity android:name=".views.activitys.cart.CartActivity"/>
        <activity android:name=".views.activitys.payment.PaymentActivity"/>
        <activity android:name=".views.activitys.OrderActivity.OrderActivity"/>
        <activity android:name=".views.activitys.AuthenActivity"/>
        <activity android:name=".views.activitys.chat.ChatActivity" />


    </application>

</manifest>